.list-of-cards-section {
  margin-top: 3em;
}

.list-of-cards-title {
  width: 72.5%;
  /* background-color: red; */
  text-align: start;
  font-size: 18px;
  margin: 10px auto;
}

.list-of-cards {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(5, auto);
  place-items: center;
}
