.card-free-game {
  /* background-color: green; */
  /* display: grid; */
  /* place-items: center; */
  margin: 0 auto;
  margin: 20px;
}

.card-game-image {
  /* width: 100%; */
  min-width: 265px;
  min-height: 442px;
}

.game-free-image {
  position: relative;
  margin-bottom: 20px;
}

.card-game-image img {
  width: 100%;
  border-radius: 10px;
  min-width: 265px;
  object-fit: cover;
  min-height: 442px;
}

.card-game-title,
.card-game-time {
  font-size: 16px;
}

.card-game-time {
  color: rgba(245, 245, 245, 0.6);
}

.card-game-tag {
  position: absolute;
  bottom: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
