.navbar2 {
  width: 100%;
  height: 100px;
  background-color: #121212;
  color: #e7e7e7;
  font-family: Inter, sans-serif;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
}

.navbar2-section-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar2-search-bar input[type="search"] {
  height: 40px;
  background-color: #202020;
  width: 240px;
  border-radius: 20px;
}

.navbar2-search-bar ::placeholder {
  color: #838c94;
  line-height: 50px;
  height: 50px;
  overflow: hidden;
  padding-left: 10px;
}

.nav2-section1-links {
  display: flex;
  list-style: none;
  color: #e7e7e7;
}

.nav2-section1-link {
  margin: 0 20px;
}

.navbar2-section-2 {
  display: flex;
  color: #e7e7e7;
  justify-content: center;
  align-items: center;
}

.nav2-section2-links {
  display: flex;
  list-style: none;
}

.nav2-section2-link {
  margin: 0 20px;
}
